app/pkgs/Wadl/sendemail.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://australia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="sendemail" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="send email" />
  <grammars>
    <jsonTypes targetNamespace="https://australia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Sendanemailnotification_ux28_V3_ux29__To_def" />
      <string name="ManualTriggerInput_Sendanemailnotification_ux28_V3_ux29__To_1_def" />
      <string name="ManualTriggerInput_Sendanemailnotification_ux28_V3_ux29__Body_def" />
      <object name="ManualTriggerInput">
        <property name="Sendanemailnotification(V3)_To" type="string" />
        <property name="Sendanemailnotification(V3)_To_1" type="string" />
        <property name="Sendanemailnotification(V3)_Body" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://australia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Sendanemailnotification(V3)_To" path="/Sendanemailnotification(V3)_To" type="xs:string" required="true" />
            <param style="plain" name="Sendanemailnotification(V3)_To_1" path="/Sendanemailnotification(V3)_To_1" type="xs:string" required="true" />
            <param style="plain" name="Sendanemailnotification(V3)_Body" path="/Sendanemailnotification(V3)_Body" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>